h1 {
 text-align: center;}  

body {
    text-align: center;
 background: linear-gradient(#ff0066 10%, #ff9900 90%);  
    
    
}
    
    
    
    











































